@import url('./sidebar.css');
@import url('./cardPost.css');
@import url('./profile.css');
@import url('./register.css');
@import url('./detailPost.css');
@import url('./explore.css');
@import url('./notifications.css');

/* import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121213;
    color: #fafafa;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.btn-tw{
    border-radius: 2rem;
    border: none;
    background-color: #1D9BF0;
    padding: 0.5rem 2rem;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.color-tw {
    background-color: #1D9BF0;
}

.btn-login {
    border-radius: 2rem;
    border: 1px solid black;
    border-color: white;
    background-color: #1D9BF0;
    padding: 0.5rem 1rem;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: auto 5px;
}

.btn-login:hover {
    background-color: #54b3f4;
}

.btn-signup {
    border-radius: 2rem;
    border: none;
    background-color: white;
    padding: 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: auto 5px;
}

.btn-signup:hover {
    background-color: #e5e5e5;
}