.detail-post{
    border-bottom: 0.1rem solid #5e5b5b;
}

.detail-post-cta{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #5e5b5b;
}

.reply-tweet{
    padding-bottom: 1rem;
    display: flex;
    border-bottom: 0.1rem solid #5e5b5b;
}