.notif-menu { 
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
    border-bottom: 0.1rem solid #5e5b5b;
}

.notif-menu div{ 
    color: rgba(160, 160, 160, 0.467);
    padding: 0.5rem 3rem;
    white-space: nowrap;
}

.notif-menu div:hover{
    cursor: pointer;
    background-color: #16181c;
}

.notif-menu div:first-child{ 
    margin: 0;
    border-bottom: 0.3rem solid #1D9BF0;
    width: fit-content;
    padding: 0.5rem 3rem;
    color: #fafafa;
}