.register{
    background-color: #242D34;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    background-color: #000;
    padding: 1rem 2rem;
    border-radius: 1rem;
    width: 45vw;    
}

.register-form form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto;
}

.register-form form input{
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: 0.1rem solid #242D34;
    background-color: transparent;
    border-radius: 0.5rem;
    color: #fafafa;
}