.sidebar-container{
    display: grid;
    grid-template-columns: 0.45fr 1fr 0.65fr;
    padding: 0 0.5rem;
}

/* ----------------------------- MIDDLE BAR ----------------------------- */
.main-content{padding: 1rem 0;}

header{
    border-bottom: 0.1rem solid #5e5b5b;
    padding-bottom: 1rem;
}

header h3{ 
    font-size: 1.2rem;
    font-weight: 700;
}

.new-tweet{
    border: none;
    background-color: transparent;
    outline: none;
    color: #fafafa;
    width: 100%;
    padding: 0.5rem 2rem;
}

header div{ 
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}


/* ----------------------------- LEFT SIDEBAR ----------------------------- */

.left-sidebar{
    padding: 1rem;
    border-right: 0.1rem solid #5e5b5b;
    min-height: 100vh;
}

.logo{
    width: 2rem;
    margin-bottom: 2rem;
}

.logo img{ width: 100%;}

.sticky{
    position: sticky;
    top: 0.5rem;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.menu ul{
    list-style-type: none;
    padding: 0;
}

.menu li{
    margin: 1rem 0;
    font-size: 1.3rem;
}

.menu li a{
    text-decoration: none;
    color: #fafafa;
}

.menu li:hover{ cursor: pointer;}

.menu span{ margin-left: 1rem;}

.btn-sidebar{ width: 100%;}

.user-cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
}

.uname-cta{ margin: 0;}

.user-cta h3{
    font-size: 1.3rem;
    margin: 0;
}

.user-cta:hover{
    cursor: pointer;
    background-color: #16181c;
}


.tooltip-inner{ 
    width: 15vw;
    background-color: #000;
    box-shadow: 0.2rem 0.3rem 1rem #1d1d1d;
    border-radius: 1rem;
}

.tooltip-inner:hover{ cursor: pointer;}

.tooltip-popup button{
    margin: 0.5rem;
    background-color: transparent;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.logout{
    text-decoration: none;
    color: #fafafa;
}

/* ----------------------------- RIGHT SIDEBAR ----------------------------- */

.right-sidebar{
    padding: 0 1rem;
    border-left: 0.1rem solid #5e5b5b;
    min-height: 100vh;
}

.search-container{margin: 0.5rem 0;}
.search-container input{
    width: 100%;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: #202327;
    border: none;
    outline: none;
    color: #fafafa;
}

.trending{
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    background-color: #16181C;
    border-radius: 1em;
}

.trending-item{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.trending-topics p{
    margin-bottom: 0;
}

.total-tweets{ 
    color: #817f7f;
    font-size: 0.9rem;
}